# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
utils/printts.txt
utils/printManagertsx.txt
fff.csv
info.txt
menu_import - Copy.csv
.gitignore
AI_MODEL_SUMMARY.html.docx
AI_MODEL_SUMMARY.md
AI_MODEL_SUMMARY.html
cd CUsersLounge Parkrestaurant-pos-local.txt
convert-to-html.js
create-docx.js
cd CUsersLounge Parkrestaurant-pos-local.txt
New Microsoft Word Document.docx
pastecodes.ts
vite.config - test.ts
server/pos_backup.sql
server/schema.sql
utils/print.ts
.gitignore
convert-to-docx.js
System Instuctions.docx
utils/printManager.tsx
utils/printManager.tsx
